body {
    font-family: 'Montserrat', sans-serif;
}
.navhead{
    background-color:black;
    padding: 20px 0;
}
.navhead a{
    color: white;
    font-size: 20px;
}
/*
.navhead .location{
    color: white;
    font-size: 35px;
}
*/
.navhead .brandname{
    color: white;
    font-size: 20px;
    font-weight: 700;
}
.navhead a:hover{
    color: rgb(180, 177, 177);
}
/*
.head-bg img{
    display:block;
    width:100%;
    object-fit: cover;
    height: 100vh;
  }
*/

.big-image
{
    height: 100vh;
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url('img1.jpg');
}
.overlay
{
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.overlay .welcome
{
    margin-top: -50px;
    font-size: 30px;
    font-weight: 700;
}
.overlay .tagline
{
    margin-top: px;
    font-size: 20px;
    font-weight: 500;
}
.bttn{
    background-color: rgb(17, 141, 17);
}
.foot{
    position: fixed;
    bottom: 0;
    width: 100%;
}
.foot .connect{
    margin-bottom: -20px;
}
.foot a:hover{
    text-decoration: none;
}